@{
  ViewData["Title"] = "Page Not Found";
}
<div>
  <style>
    a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }

    a:visited {
      color: pink;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
    }

    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }
  </style>
  <h1 class="display-4">so ... you're here!</h1>
  <p class="lead">The page you're looking for doesn't exist. Good luck tryna find it.</p>
  <a href="/home/index" class="btn btn-primary">Back to Home</a>
  <a href="https://tamagotchi-official.com/gb/" class="btn btn-primary">Take a Trip!</a>
</div>