@{
  ViewData["Title"] = "Error";
}

<h1 class="display-4">... yikes!</h1>
<p class="lead">There is an issue with our servers... Please try again later.</p>
<a href="/home/index" class="btn btn-primary">Back to Home</a>